@using EntityLayer.Concrete
@model List<Category>


@{
    Layout = null;
}

<!DOCTYPE html>

<br />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">

            <table class="table table-bordered">
                <tr>
                    <th> ID</th>
                    <th> Ad</th>
                    <th> Durum</th>
                    <th> Güncelle</th>
                    <th> Sil </th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.CategoryID</td>
                        <td> @item.CategoryName</td>
                        <td> @item.CategoryStatus</td>
                        <td> <button class="btn btn-success"> Güncelle</button></td>
                        <td> <button class="btn btn-danger"> Sil</button></td>


                    </tr>
                }


            </table>

            <a href="/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle </a> <!-- Kategori ekleme sayfasına yönlendiriyor. -->
        </div>
    </div>
</div>