
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3> MVC KAMP TABLO ÖRNEĞİ - KATEGORİ </h3>
<br />

<table class="table table-bordered">
    
    <tr>
        <th>  ID </th>
        <th>  ADI</th>
        <th> AÇIKLAMA</th>
        <th> DURUM</th>
        <th> GÜNCELLE </th>
        <th> SİL </th>
    </tr>
    <tr>
        <td> 1 </td>
        <td> Eğitim </td>
        <td> Açıklama Yaptık </td>
        <td> True </td>
        <td> <button class="btn btn-success"> Güncelle </button> </td>
        <td> <button class="btn btn-danger">SİL </button> </td>

    </tr>
    <tr>
        <td> 2 </td>
        <td> Spor </td>
        <td> Açıklama Yaptık </td>
        <td> True </td>
        <td> <button class="btn btn-success"> Güncelle </button> </td>
        <td> <button class="btn btn-danger">SİL </button> </td>

    </tr>
    <tr>
        <td> 3 </td>
        <td> Kitap </td>
        <td> Açıklama Yaptık </td>
        <td> True </td>
        <td> <button class="btn btn-success"> Güncelle </button> </td>
        <td> <button class="btn btn-danger">SİL </button> </td>
    </tr>
    <tr>
        <td> 4 </td>
        <td> Sinema </td>
        <td> Açıklama Yaptık </td>
        <td> True </td>
        <td> <button class="btn btn-success"> Güncelle </button> </td>
        <td> <button class="btn btn-danger" >SİL </button> </td>
    </tr>


</table>
<button class="btn btn-primary"  >Yeni Kategori </button>